    header {
        text-align: left;
        background: darkslateblue;
        border-bottom: 4px solid #262657;
        justify-content: left;

    }
    body {
        background-color: #1e1f22;
        color: white;
        margin: 0;
    }
    main {
        text-align: center;
    }
    .logo{
        margin: 0;
        height: 62px;
        width: 500px;
        border-radius: 25%;
        border-color: transparent;
        background: url("logo.svg") no-repeat;
        overflow: hidden;
        color: transparent;
        font-size: 30px;
        text-align: left;
        padding-left: 40px;
        padding-bottom: 10px;

    }
    h3{
        text-align: center;
        height: 50px;
    }
    section {
        display: inline-block;
        margin: 20px;
        vertical-align: top;

    }
    div{
        height: auto;
    }
    nav {
        flex-grow: 1;
        text-align: center;

    }
    nav ul li {
        display: inline;
        margin-right: 20px;
    }
    .discount-price {
        font-size: 14px;
        -webkit-text-stroke: 0.5px black;
        color: gray;
        font-weight: bold;
    }
    del {

        position: relative;
        color: white;
        text-decoration: none;
    }
    a{
        color: white;
        text-decoration: none;
    }
    del:before {


        content: "";
        border-bottom: 1px solid gray;
        position: absolute;
        width: 100%;
        height: 50%;
        transform: rotate(-12deg);
    }
    .price {
        text-align: center;
        background-color: #3a3a75;
    }
    .sales {
        text-align: center;
        background-color: green;
    }
    .footer {
        text-align: center;
        border-top: 4px solid #262657;
        border-bottom: 4px solid #3a3a75;
        background-color: #3a3a75;
    }
    .footer-buttons {
        display: flex;
        justify-content: center;
        align-items: center; /* Если нужно, чтобы кнопки выравнивались по вертикали */
    }
    .footer-buttons a, .footer-buttons p {
        margin: 0 5px; /* Добавьте отступы между элементами по вашему усмотрению */
    }
    .game-card img {
        width: 250px;
        height: auto;
        border-radius: 5%;
    }
    .game-card {
        width: 250px;
        height: auto;
        margin-right: 10px;
        background: #25262a;
        border-radius: 5%;

    }
    .slider-container {
        max-height: max-content;
        overflow: hidden;


    }
    .slider-content {
        display: flex;
        width: 250px;
        margin: 0 auto;
        transition: transform 0.5s ease;
    }
    .slider-games {
        display: flex;
    }
    .arrow-right {
        border-radius: 15%;
        height: 40px;
        width: 80px;
        background-color: transparent;
        background-image: url('arrow left.svg');
        background-size: cover; /* Размер изображения будет подстроен так, чтобы его содержимое было полностью видимо */
        background-repeat: no-repeat; /* Избегаем повторения изображения */
        /* Добавьте другие свойства CSS по вашему усмотрению */
    }
    .arrow-left {
        padding: 0;
        margin: 0;
        border-radius: 16%;
        height: 40px;
        width: 80px;
        background-color: transparent;
        background-image: url('arrow right.svg');
        background-size: cover; /* Размер изображения будет подстроен так, чтобы его содержимое было полностью видимо */
        background-repeat: no-repeat; /* Избегаем повторения изображения */
        /* Добавьте другие свойства CSS по вашему усмотрению */
    }
    .contact{
        text-align: initial;
        width: 600px;
    }
    .games{
            list-style-type: none;
            display: grid;
            grid-template-columns: repeat(5, 270px);
            border-radius: 5%;

    }
    .salesgam{
        border-radius: 5%;
        text-align: center;
        background-color: green;

    }
    .pricegam {
        border-radius: 5%;
        text-align: center;
        background-color: #3a3a75;
    }
    .game-details{
        h2{
            max-width: 250px;
            font-size: 15px;
        }
        list-style-type: none;
        max-width: 600px; /* Максимальная ширина контейнера */
        margin: 0 auto; /* Центрирование контейнера по горизонтали */
        display: grid;
        grid-template-columns: repeat(2, auto);
        border-radius: 5%;
    }
    .game-details img {
        width: 250px;
        height: auto;
        border-radius: 5%;
    }
    .review-text {
        text-align: left;
        width: 600px;
    }
    .author-name {
       text-align:left;
        font-size: 20px;
    }
    #cart-container {
        display: none;
        position: absolute;
        top: 60px; /* Расположение окна корзины под кнопкой */
        right: 400px;
        background-color: #3a3a75;
        color: white;
        border: 10px solid #262657;
        padding: 10px;
        z-index: 999;
    }
    #cart-container.active {
        display: block;
    }
    #show-cart-btn {
        background-color: transparent;

    }
    .cart-item {
        border: 2px solid #fff; /* Окантовка элемента */
        border-radius: 5px; /* Закругление углов */
        padding: 10px; /* Отступ вокруг элемента */
        margin-bottom: 10px; /* Отступ между элементами */
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); /* Тень */
    }
    input[type="email"],
    input[type="tel"],
    input[type="text"],
    input[type="password"] {
        width: calc(100% - 10px);
        padding: 5px;
        font-size: 16px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }
    form {
        width: 300px;
        margin: 0 auto;
    }
    input[type="submit"] {
        width: 100%;
        padding: 10px;
        font-size: 16px;
        background-color: #007bff;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
    input[type="submit"]:hover {
        background-color: #0056b3;
    }
    small {
        color: #777;
    }
    .alert {
        color: #f00;
        margin-top: 10px;
        text-align: center;
    }
    #answer {
        width: 200px; /* Уменьшаем ширину поля ввода */
        margin-bottom: 10px; /* Добавляем немного отступа снизу */
    }

    body.dark-theme {
        background-color: #3e3e56;
        color: white;
    }